.main_chat
  .main_chat__group
    .main_chat__group__co
      .main_chat__group__co__name
        kkkk
      .main_chat__group__co__menbarlist
        Menbar : masa
    .main_chat__group__edit  
      = link_to "#", class: "Contents__btn Contents__btn--edit" do 
        Edit
    
      .Contents__massege
       
  .main_chat__message
    = render @messages    
  .main_chat__messageform
    = form_with model: [@group, @message], class: "Form" do |f|
      .main_chat__messageform__contentformbox__text
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image')
        = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'

