.side-bar
  .side-bar__header
    .side-bar__header__username
      .side-bar__header__username__userselect
        = current_user.name
      .side-bar__header__username__userserect-icon
        = link_to new_group_path(current_user)do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .side-bar__grouplist
    - current_user.groups.each do |group|
      .side-bar__grouplist__Group
        = link_to group_messages_path(group)  do
          .side-bar__grouplistname
            = group.name
          .side-bar__grouplistmassage
            = group.show_last_message

      
  
-# %head
-# %body
-#   .Main
-#   .Notification
-#   　.alert
-#     %p.UserName hogehoge
-#     %ul.Main__menu
-#       %li.Main__new-group NEW GROUP
-#       %li#featured.Main__editUser EDIT USER
-#   .Form
-#     %form.Form__contents
-#       .Form__inputBox
-#         %input.Form__inputText{"placeholder": "type a message", "type": "text"}
-#       %input.Form__submitBtn{"name": "commit", "type": "submit", "value": "Send"}